
.DS_Store
*.json
.Rproj.user/E966D7BC/sources/prop/7B90BAB9
.Rproj.user/E966D7BC/sources/prop/821E69F6
.Rproj.user/E966D7BC/sources/prop/AD0ECFE8
.Rproj.user/E966D7BC/sources/prop/INDEX
.Rproj.user/E966D7BC/sources/s-41EB796C/1F7A6200
.Rproj.user/E966D7BC/sources/s-41EB796C/1F7A6200-contents
.Rproj.user/E966D7BC/sources/s-41EB796C/276D477E
.Rproj.user/E966D7BC/sources/s-41EB796C/276D477E-contents
.Rproj.user/E966D7BC/sources/s-41EB796C/47DC891F
.Rproj.user/E966D7BC/sources/s-41EB796C/47DC891F-contents
.Rproj.user/E966D7BC/sources/s-41EB796C/B8806CA3-contents
.Rproj.user/E966D7BC/sources/s-41EB796C/BE1EA93B
.Rproj.user/E966D7BC/sources/s-41EB796C/BE1EA93B-contents
.Rproj.user/E966D7BC/sources/s-41EB796C/DC221CF3
.Rproj.user/E966D7BC/sources/s-41EB796C/DC221CF3-contents
.Rproj.user/E966D7BC/sources/s-41EB796C/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
data/LeafArea.raw_20-03-12.csv
data/LeafArea.raw_20-03-13.csv
data/LeafArea.raw_20-03-14.csv
data/LeafArea.raw_20-03-15.csv
data/LeafArea.raw_exodus.csv
data/PFTC3_Peru_2018_CommunityCover.csv
data/PFTC3_Peru_2018_LeafTraits.csv
data/PFTC3_Peru_2018_TaxonomicDictionary.csv
data/PFTC3_Peru_2018_TaxonomicDictionarycover.csv
data/PFTC5_Peru_2020_CommunityCover.xlsx
data/PFTC5_Peru_2020_DryWeight.csv
data/PFTC5_Peru_2020_LeafTraits.csv
data/PFTC5_Peru_2020_TaxonomicDictionary.csv
data/PunaProject_Peru_2019_CommunityCover.csv
data/PunaProject_Peru_2019_LeafTraits.csv
data/PunaProject_Peru_2019_TaxonomicDictionary.csv
data/PunaProject_Peru_2019_TaxonomicDictionarycover.csv
