# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
.Rproj.user/

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
.Rproj.user

#data (excludes everything in the folder data)
data/*
clean_data/*
*.csv
*.xls
*.xlsx

#figures & output

*.html
*.pdf
*.jpeg
*.jpg
*.md
*2.bib
*.ai
!image/PeruMountain2.png
!README_files/figure-gfm/DiversityPlot-1.png
!README_files/figure-gfm/TraitChecks-1.png
!README_files/figure-gfm/TraitDistribution-1.png

# MacOS nonsense
.DS_Store
