# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
.Rproj.user/

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
.Rproj.user

#data (excludes everything in the folder data)
data/*

# MacOS nonsense
.DS_Store
data/LeafArea.raw_exodus.csv
data/LeafArea.raw_20-03-15.csv
data/LeafArea.raw_20-03-14.csv
data/LeafArea.raw_20-03-13.csv
data/LeafArea.raw_20-03-12.csv
